@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade" id="detalleVacunaModal">

        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Detalle Vacuna</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body pt-2">
                    <div id="detalleVacunaAplicadaContainer">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="btnCloseDetalleVacuna"
                            type="button"
                            class="btn btn-secondary btn-sm"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
</div>
