@model IEnumerable<Msn.InteropDemo.ViewModel.Snomed.SnomedItem>

<table class="table table-hover table-sm table-responsive-sm">
    <thead>
        <tr>
            <th colspan="3" class="text-left">Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-left text-muted">
                    @Html.DisplayFor(modelItem => item.FSN)
                </td>
                <td class="text-center">
                    <button onclick="snowstomResultItemSelected(this)"
                            class="btn btn-sm btn-outline-primary"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Seleccionar"
                            data-delay='{ "show": 1000, "hide": 50 }' data-conceptId="@item.ConceptId" data-term="@item.Description" data-dismiss="modal">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
