@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade" id="modalMapeoCie10">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Mapeo a CIE10</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="modalMapeoCie10GridContainer">

                </div>
            </div>

            <!-- Modal footer -->
            @*<div class="modal-footer">
                <button id="btnEvolucionar" type="button" onclick="redirect2Evolucion()" class="btn btn-success" data-dismiss="modal"><span class="fa fa-file-medical"></span>&nbsp;Historia Clínica</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>*@
        </div>
    </div>
</div>
