@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade" id="modalMapeoCie10">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Mapeo a CIE10</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body pt-2">
                <div class="mb-2 alert alert-primary small">
                   <span><b>Snomed CT:</b> </span> <span id="sctIdToMap"></span> - <span id="sctTermToMap"></span>
                </div>
                <div id="modalMapeoCie10GridContainer">

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button 
                        id="btnConfirmMapeo" 
                        type="button" 
                        class="btn btn-primary btn-sm" 
                        data-dismiss="modal"
                        onclick="mapToCie10MultiplesItems()">
                        <span class="fas fa-file-import"></span>&nbsp;Confirmar Mapeo
                </button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
