@model Models.SearchNotfound

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    <div class="col-12">
        <div class="alert alert-danger text-center" role="alert">
            No se encontraron conceptos coincidentes con el texto ingresado:
            <div>
                <b><i>@Model.TermNotFound</i></b>
            </div>
        </div>
    </div>
    
