
@{
    ViewData["Title"] = "Seguimiento de Pacientes";
}

    <div class="text-center">
        <div class="form-group">
            <a asp-action="Index" asp-controller="Pacientes" asp-area="Seguimiento" class="btn btn-cpi-metro metro-fucsia metro-size-150x150">
                <div class="fa fa-user-friends" style="font-size: 40px; padding-top:5px; padding-left: 0px; padding-right: 0px;"></div>
                <div style="padding-top:20px; padding-left:0px; padding-right:0px;">Maestro de Pacientes</div>
            </a>

            @*<a asp-action="Verification" asp-controller="Persons" asp-area="Operaciones" class="btn btn-cpi-metro metro-celeste1 metro-size-150x150">
            <div class="fa fa-user" style="font-size: 40px; padding-top:5px; padding-left: 0px; padding-right: 0px;"></div>
            <div style="padding-top:20px; padding-left:0px; padding-right:0px;">Verificar Peronas</div>
        </a>

        <a href="#" class="btn btn-cpi-metro metro-fucsia metro-size-150x150">
            <div class="fa fa-car" style="font-size: 40px; padding-top:5px; padding-left: 0px; padding-right: 0px;"></div>
            <div style="padding-top:20px; padding-left:0px; padding-right:0px;">Acceso de Vehículos</div>
        </a>

        <a href="#" class="btn btn-cpi-metro metro-celeste metro-size-150x150">
            <div class="fa fa-camera" style="font-size: 40px; padding-top:5px; padding-left: 0px; padding-right: 0px;"></div>
            <div style="padding-top:20px; padding-left:0px; padding-right:0px;">Camaras</div>
        </a>

        <a href="#" class="btn btn-cpi-metro metro-amber metro-size-150x150">
            <div class="fa fa-door-open" style="font-size: 40px; padding-top:5px; padding-left: 0px; padding-right: 0px;"></div>
            <div style="padding-top:20px; padding-left:0px; padding-right:0px;">Punto de Acceso</div>
        </a>*@

            @*<a asp-action="Index" asp-controller="Companies" class="btn btn-cpi-metro metro-marron metro-size-150x150">
            <div class="fa fa-building" style="font-size: 40px; padding-top:5px; padding-left: 0px; padding-right: 0px;"></div>
            <div style="padding-top:20px; padding-left:0px; padding-right:0px;">Empresas</div>
        </a>*@

        </div>
    </div>



