@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrar mi cuenta</h1>

<div>
    <h4>Configure su cuenta</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
