
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Por favor, finalize la configuración de su cuenta ingresando su <b>Casilla de Correo</b> y su <b>CUIT</b>.
</div>
