@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Información personal";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Contamos con información personal que nos ha entregado para administrar su cuenta.</p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-success" type="submit">Descargar su información personal</button>
        </form>

        @*<p>
            <strong>Puede eliminar los datos de su cuenta permanentemente. Esta información no podrá ser reestablecida.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Eliminar su cuenta y todos sus datos personales</a>
        </p>*@

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}