@model Msn.InteropDemo.ViewModel.Pacientes.PacienteViewModel

@{
    ViewData["Title"] = "Nuevo Paciente";
}

<partial name="_Breadcrumb" model="@ViewBag.Breadcrumb" />

<hr />
  
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <div class="card mb-3">
        <div class="card-header">
            Datos de Identificación
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-3 required">
                    <label asp-for="PrimerNombre" class="control-label"></label>
                    <input asp-for="PrimerNombre" class="form-control" />
                    <span asp-validation-for="PrimerNombre" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="OtrosNombres" class="control-label"></label>
                    <input asp-for="OtrosNombres" class="form-control" />
                    <span asp-validation-for="OtrosNombres" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3 required" >
                    <label asp-for="PrimerApellido" class="control-label"></label>
                    <input asp-for="PrimerApellido" class="form-control" />
                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="OtrosApellidos" class="control-label"></label>
                    <input asp-for="OtrosApellidos" class="form-control" />
                    <span asp-validation-for="OtrosApellidos" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 required">
                    <label asp-for="TipoDocumentoId" class="control-label"></label>
                    <select asp-for="TipoDocumentoId" asp-items="Model.TipoDocumentoList" class="form-control"></select>
                    <span asp-validation-for="TipoDocumentoId" class="text-danger"></span>
                </div>

                <div class="form-group col-md-2 required">
                    <label asp-for="NroDocumento" class="control-label"></label>
                    <input asp-for="NroDocumento" class="form-control" />
                    <span asp-validation-for="NroDocumento" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 required">
                    <label asp-for="Sexo" class="control-label"></label>
                    <select asp-for="Sexo" asp-items="Model.SexoList"class="form-control"></select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2 required">
                    <label asp-for="FechaNacimiento" class="control-label"></label>
                    <input asp-for="FechaNacimiento" class="form-control" placeholder="dd/mm/aaaa" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            Información del Domicilio
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="DomicilioCalle" class="control-label"></label>
                    <input asp-for="DomicilioCalle" class="form-control" />
                    <span asp-validation-for="DomicilioCalle" class="text-danger"></span>
                </div>
                <div class="form-group col-md-1">
                    <label asp-for="DomicilioCalleAltura" class="control-label"></label>
                    <input asp-for="DomicilioCalleAltura" class="form-control" />
                    <span asp-validation-for="DomicilioCalleAltura" class="text-danger"></span>
                </div>
                <div class="form-group col-md-1">
                    <label asp-for="DomicilioCodPostal" class="control-label"></label>
                    <input asp-for="DomicilioCodPostal" class="form-control" />
                    <span asp-validation-for="DomicilioCodPostal" class="text-danger"></span>
                </div>
                <div class="form-group col-md-1">
                    <label asp-for="DomicilioPiso" class="control-label"></label>
                    <input asp-for="DomicilioPiso" class="form-control" />
                    <span asp-validation-for="DomicilioPiso" class="text-danger"></span>
                </div>
                <div class="form-group col-md-1">
                    <label asp-for="DomicilioDepto" class="control-label"></label>
                    <input asp-for="DomicilioDepto" class="form-control" />
                    <span asp-validation-for="DomicilioDepto" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group float-right">
        <input type="submit" value="Aceptar" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Volver</a>
</div>

<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
