@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade" id="modalPaciente">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Paciente</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-row form-inline mb-3" style="border-bottom:1px; border-bottom-color:rgb(222, 226, 230); border-bottom-style:solid; padding-bottom:15px;">
                        <div class="col-md-4">
                            <div id="progressPacienteLocal" style="display:none;">
                                <span class="text-primary fa fa-database"></span><span id="progressPacienteLocalText"></span><span id="progressPacienteLocalCheck" class="text-success fas fa-check"></span>
                            </div>
                          </div>
                        <div class="col-md-4">
                            <div id="progressVerificandoExistenciaEnElBUS" style="display:none;">
                                <span class="text-primary fa fa-network-wired"></span> Verificando si el Paciente está Federado <span id="spinVerificaExistenciaBus" class="fas fa-spinner fa-spin"></span>
                            </div>
                            <div id="progressPacienteYaFederado" style="display:none;">
                                <span class="text-primary far fa-smile-beam"></span> Paciente ya Federado por este Dominio
                            </div>
                            <div id="progressPacienteNoFederado" style="display:none;">
                                <span class="text-primary far fa-frown"></span> Paciente No Federado por este Dominio
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="progressAltaPacienteBUS" style="display:none;">
                                <span class="text-primary fa fa-user-check"></span> Federando Paciente <span class="fas fa-spinner fa-spin"></span>
                            </div>
                            <div id="progressAltaPacienteBUSFinalizada" style="display:none;">
                                <span class="text-primary fa fa-user-plus"></span> Proceso de Federación exitoso <span class="text-success fas fa-check"></span>
                            </div>
                            <div id="progressAltaPacienteBUSFinalizadaError" style="display:none;">
                                <span style="cursor:pointer;" class="text-danger fas fa-exclamation-triangle"></span><span id="progressErrorTitle" data-toggle="tooltip" data-placement="top" title="" data-delay='{ "show": 500, "hide": 100 }'> Error en la Federación del Paciente <i class="text-danger far fa-comment"></i></span> 
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="modalPrimerApellido" class="control-label">Apellido</label>
                                <input id="modalPrimerApellido" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="modalPrimerNombre" class="control-label">Nombre</label>
                                <input id="modalPrimerNombre" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="modalGeneroNombre" class="control-label">Sexo</label>
                                <input id="modalGeneroNombre" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="modalTipoDocumentoNombre" class="control-label">Tipo. Doc.</label>
                                <input id="modalTipoDocumentoNombre" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="modalNroDocumento" class="control-label">Nro. Documento</label>
                                <input id="modalNroDocumento" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="modalFechaNacimiento" class="control-label">Fecha de Nacimiento</label>
                                <input id="modalFechaNacimiento" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="btnEvolucionar" type="button" onclick="redirect2Evolucion()" class="btn btn-success" data-dismiss="modal"><span class="fa fa-file-medical"></span>&nbsp;Historia Clínica</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
