@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Envio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su nueva contraseaña ha sido enviada. Por favor, verifique en su casilla de correo y siga las instrucciones.
</p>

