@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, confirme su casilla de correo para blanquear su contraseña.
</p>

