@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Contraseña cambiada exitosamente";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido cambiada. Por favor <a asp-page="./Login">Haga click aquí para ingresar</a>.
</p>
